<h1>Password#check</h1>
<p>Find me in app/views/password/check.html.erb</p>

<form action="/password/check" method="get">
  <input type="text" name="userID" required/>
  <input type="text" name="password" required/>
  <input type="submit"/>
</form>
