<h1>Cars#index</h1>
<p>Welcome to the Car Simulator</p>
<form class="" action="/cars/create" method="get">
  <input type="text" name="make" value="" placeholder="Enter Make">
  <input type="text" name="model" value="" placeholder="Enter model">
  <input type="submit" name="" value="Start Simulator" >

</form>
